@model InternshipManagementSystem.Models.tbl_report
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<title>Report Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
        <h3 class="w3-bar-item">@ViewBag.username</h3>
        <a href="~/Home/Mainpage?username=@ViewBag.username" class="w3-bar-item w3-button">Main Page</a>
        <a href="~/tbl_application/Create?username=@ViewBag.username" class="w3-bar-item w3-button">Internship Application</a>
        <a href="~/tbl_application/Report?username=@ViewBag.username" class="w3-bar-item w3-button">Upload Report</a>
        <a href="~/Home/Index" class="w3-bar-item w3-button">Exit</a>
    </div>

    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h1>Upload Report</h1>
        </div>
        <div class="w3-container">
            @using (Html.BeginForm("Report", "tbl_application", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10">
                        <p><b>Report</b></p>
                        <p>
                            @Html.TextBox("file", "", new { type = "file" }) <br />
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <p><b>Department ID</b></p>
                        <p>
                            @Html.TextBox("departmentid", "", new { type = "text", name= "departmentid" }) <br />
                        </p>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-10">
                        <p>
                            <input type="submit" value="Upload" />
                            @ViewBag.Message
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
</body>
</html>







